<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="get-started-page">
      <div class="div">
        <p class="text-wrapper">Book, Track, and Organize your tasks easily</p>
        <div class="text-wrapper-2">Manage Your Schedule Efficiently</div>
        <div class="scheduling-app">
          <div class="overlap-group"><div class="text-wrapper-3">Scheduling App</div></div>
        </div>
        <button class="button-transition"><div class="text-wrapper-4">Get Started</div></button>
        <button class="div-wrapper"><div class="text-wrapper-4">Login</div></button>
      </div>
    </div>
  </body>
</html>
